body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

header{
    background-color: rgb(0, 128, 128);
    color: #fff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

ol a{
    margin-right: 20px;
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(0, 100, 100);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

ol :hover{
    background-color: rgb(0, 80, 80);
    transition: 0.5s;
}

main section{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

form {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 128, 128);
    margin-top: 20px;
    padding-top: 20px;
}


input{
    color: rgb(0, 128, 128);
    border-radius: 5px;
    border-color: rgb(0, 100, 100);
    outline: none;
    font-size: 16px;
}

input.nome{
    width: 96%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
}

input.email{
    width: 96%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
}

select{
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(0, 128, 128);
    border-radius: 5px;
    outline: none;
    border-color: rgb(0, 100, 100);
    font-size: 16px;
}

textarea{
    width: 94%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: rgb(0, 100, 100);
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.submit{
    background-color: rgb(0, 128, 128);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
    width: 96%;
    margin-bottom: 20px;
    font-size: 16px;
}

.submit :hover{
    background-color: rgb(0, 100, 100);
}

footer{
    background-color: rgb(0, 128, 128);
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

h2{
    text-align: center;
    margin-top: 20 px;
    color: rgb(0, 128, 128);
}

p{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}